@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/OpenSans/OpenSans-Light.ttf");
	font-size: 1em;
}

body {
	background-color: #2c3e50;
}

#titulo {
	height: 500px;
	width: 50%;
	background-color: #FFF;
	position: relative;
	top: 100px;
	border-radius: 25px;
}

#titulo h1 {
	font-family: 'OpenSans';
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	color: #34495e;
	text-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,.2);
}

#titulo hr {
	width: 300px;
	border-width: 3px;
	border-color: #34495e;
}

#pcjogou {
	position: absolute;
}

#pcjogou h3 {
	font-family: 'OpenSans';
	display: inline;
	position: absolute;
	width: 100%;
	text-align: center;
    top: 18px;
    right: 64px;
}

#jogadapc {
	height: 75px;
	width: 75px;
	position: absolute;
	background: #34495e;
	border-radius: 5px;
	display: inline;
	margin-left: 60%;
}

#pcjogada {
	position: absolute;
	font-size: 40px;
	color: white;
	top: 17px;
	right: 19px;
}

#jogar {
	height: 200px;
	width: 100%;
	text-align: center;
	font-size: 100px;
	position: relative;
	top: 20px;
	left: 14px;
}

#jogar button {
	width: 154px;
	height: 154px;
	color: #34495e;
    background: #FFF;
    border: 1px solid transparent;
    border-radius: 10px;
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
}

#jogar button:hover {
    background-color: #34495e;
    color: #FFF;
    cursor: pointer;
}

#res {
	position: relative;
	margin: 0 auto;
	top: 97px;
	width: 500px;
	height: 50px;
	background: #34495e;
	border-radius: 10px;
	box-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,.2)
}

#res h2 {
	position: relative;
	margin: 0 auto;
	top: 9px;
	font-family: 'OpenSans';
	font-size: 25px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,.2);
}

#placar {
	height: 200px;
	width: 30%;
	background-color: #FFF;
	position: relative;
	top: 100px;
	border-radius: 25px;
}

#placar div.col{
	height: 75px;
}

#placar div.col h3 {
	text-align: center;
	margin-top: 20px;
}

#placar div.col div{
	height: 75px;
	width: 75px;
	background: #34495e;
	border-radius: 5px;
	margin: 0 auto;
}

#placar div.col h4 {
	color: white;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 4px;
}
